.navbar_ul {
  display: flex;
  justify-content: space-around;
  flex: 1;
  float: right;
  gap: 1vw;
  margin-right: 5vw;
}
.navbar_title {
  /* background: #ffff;
     */
  /* background-color: rgba(255, 255, 255, .4); */
  /* backdrop-filter: 2px; */
  /* box-shadow: 0 0 0.5vw  rgba(255, 255, 255, .4); */
  border: 0.1vw solid rgba(255, 255, 255, 0.4);
  /* backdrop-filter: blur(0.5vw); */
  padding: 0.5vw;
  border-radius: 0.5vw;
  text-decoration: none;
  width: 7vw;
  display: flex;
  justify-content: center;
  opacity: 4;
}

.navbar_title a {
  color: #fff;
  opacity: 1;
  font-weight: 400;
}
.app_main_wrapper {
  /* background-image:url( "../assets/background.jpg"); */
  background-size: cover;
  height: 100vh;
  width: 100%;
}
.header {
  font-weight: 600;
  font-size: 2vw;
  color: #fff;
  position: absolute;
  top: -2%;
  left: 5%;
}
.active {
  background-color: #cc2a28;
  color: #000;
  opacity: 1;
}

